<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>sjkelly | {{ page.title }}</title>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen, projection" />
   <!-- MathJAX -->
   <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="{{ site.baseurl }}/">sjkelly</a>
      <a class="extra" href="{{ site.baseurl }}/blog.html">blog</a>
      <a class="extra" href="{{ site.baseurl }}/projects.html">projects</a>
      <a class="extra" href="{{ site.baseurl }}/about.html">about</a>
    </div>
  
    {{ content }}
  
    <div class="footer">
      <div class="contact">
        <p>
          Steve Kelly<br />
          kd2cca@gmail.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://plus.google.com/u/0/+SteveKelly">+SteveKelly</a><br />
          <a href="https://twitter.com/sjkelly0">@sjkelly0</a><br />
          <a href="http://github.com/sjkelly/">github.com/sjkelly</a><br />
          <a href="https://www.zotero.org/kd2cca">zotero.org/kd2cca</a><br />
        </p>
      </div>
    </div>
  </div>
</body>
</html>
