<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>sjkelly | {{ page.title }}</title>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="/">sjkelly</a>
      <a class="extra" href="/projects.html">projects</a>
      <a class="extra" href="/about.html">about</a>
    </div>
  
    {{ content }}
  
    <div class="footer">
      <div class="contact">
        <p>
          Steve Kelly<br />
          steve@sjkelly.me
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/sjkelly/">GitHub</a><br />
          <a href="https://plus.google.com/u/0/100558872191829389281/posts">Google+</a><br />
        </p>
      </div>
    </div>
  </div>
</body>
</html>
